

.root{
	/* background: @primary-color; */
	display: flex;
	align-items: center;
	background: #fff;
	padding: 10px 0;
	margin-bottom: 20px;
}

.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}