.row{
	display: flex;
	max-width: 100%;
	column-gap: 10px;
	align-items: center;
	padding: 5px 0;
	/* flex-wrap: wrap; */
}

.when_flag{
	display: flex;
	flex: auto;

	align-items: center;

	padding: 10px;

	padding-left: 0;

	justify-content: space-between;
}

.column{
	display: flex;
	flex-direction: column;
	flex: 0 1 100%;
	/* justify-content: space-between; */
	row-gap: 3px;
	line-height: 20px;
}

.title{
	font-weight: 500;
	font-size: 16px;
	
}

.text{
	font-weight: normal;
	font-size: 14px;
	
}

.avatar{
	flex: 0 0 auto
}



